# Build folder and log file
build/
build/*
build.log
.DS_Store
build.log
Resources/
Resources/*
tmp
.map
*.svn
*.suo
*.user
*.tmp
bin
Bin
obj
dirtyflag.txt
.settings/
.fastdev.lock
node_modules
.ntvs_analysis.dat
npm-debug.log
.*.swp
.lock-*
dist/*
.vs
/platform
/i18n
/etc
/Pods